spring:
  application:
    name: mcp-client-webmvc

  web:
    resources:
      cache:
        cachecontrol: # 정적 리소스에 대해 캐시 사용 안 함
          no-cache: true
          no-store: true
          must-revalidate: true

  ai:
    openai:
      api-key: ${OPENAI_API_KEY}
      chat:
        options:
          model: gpt-4o-mini
    mcp:
      client:
        sse: # SSE MCP Server 연결 구성
          connections:
            server1:
              url: http://localhost:8081

logging:
  level:
    io.modelcontextprotocol: DEBUG # MCP Server가 반환하는 JSON 로깅
    org.springframework.ai: DEBUG # LLM이 어떤 도구를 호출 요청했는지 로깅

